<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Metale i tworzywa sztuczne</string>
		<key>description</key>
		<string> (kolor pojemników lub naklejek informacyjnych oraz worków – żółty ), wrzucamy np.: puste, zgniecione butelki plastikowe, zakrętki od butelek i słoików, plastikowe opakowania, torebki, worki foliowe, kartony po sokach i mleku (tzw. tetrapaki), zgniecione puszki po napojach i żywności</string>
		<key>imageName</key>
		<string>MetaleNoWords</string>
		<key>color</key>
		<string>#feb72b</string>
		<key>tileImageName</key>
		<string>Metale</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bio</string>
		<key>description</key>
		<string>(kolor pojemników lub naklejek informacyjnych oraz worków – brązowy ), wrzucamy np.: odpadki warzywne i owocowe, skorupki jaj, fusy po kawie i herbacie, zwiędłe kwiaty oraz rośliny doniczkowe, resztki jedzenia bez mięsa, kości oraz tłuszczów zwierzęcych</string>
		<key>imageName</key>
		<string>BioNoWords</string>
		<key>color</key>
		<string>#995f35</string>
		<key>tileImageName</key>
		<string>Bio</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Szkło</string>
		<key>description</key>
		<string>(kolor pojemników lub naklejek informacyjnych oraz worków – zielony ), wrzucamy np.: puste, szklane butelki, słoiki, szklane opakowania po kosmetykach, puste szklane opakowania po lekach</string>
		<key>imageName</key>
		<string>SzkłoNoWords</string>
		<key>color</key>
		<string>#3baf28</string>
		<key>tileImageName</key>
		<string>Szkło</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zielone</string>
		<key>description</key>
		<string> (kolor worków lub naklejek informacyjnych – szary ), np.: liście, skoszona trawa, rozdrobnione gałęzie (odbiór od marca do listopada)</string>
		<key>imageName</key>
		<string>ZieloneNoWords</string>
		<key>color</key>
		<string>#53585a</string>
		<key>tileImageName</key>
		<string>Zielone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Papier</string>
		<key>description</key>
		<string>(kolor pojemników lub naklejek informacyjnych oraz worków – niebieski, wrzucamy np.: czyste opakowania z papieru i tektury, gazety, czasopisma i ulotki, kartony, zeszyty, papier biurowy</string>
		<key>imageName</key>
		<string>PapierNoWords</string>
		<key>color</key>
		<string>#1071ce</string>
		<key>tileImageName</key>
		<string>Papier</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Odpady wielkogabarytowe</string>
		<key>description</key>
		<string>stare meble (także rozłożone na części) oraz wyroby tapicerskie (np. fotele, wersalki, pufy), materace, zabawki dużych rozmiarów.Pamiętaj: zapytaj swojego administratora, gdzie znajdziesz miejsce przeznaczone do składowania odpadów wielkogabarytowych</string>
		<key>imageName</key>
		<string>WielkogabarytoweNoWords</string>
		<key>color</key>
		<string>#fc6520</string>
		<key>tileImageName</key>
		<string>Wielkogabarytowe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Odpady zmieszane</string>
		<key>description</key>
		<string>(kolor pojemników lub naklejek informacyjnych oraz worków – czarny); odpady pozostałe po wysegregowaniu pozostałych frakcji, czyli tylko to czego udało się rozdzielić do wymienionych pojemników na odpady segregowane lub czego nie można oddać do Punktu Selektywnej Zbiórki Odpadów Komunalnych, tzw. PSZOK</string>
		<key>imageName</key>
		<string>ZmieszaneNoWords</string>
		<key>color</key>
		<string>#242121</string>
		<key>tileImageName</key>
		<string>Zmieszane</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Baterie i akumulatory</string>
		<key>description</key>
		<string>-</string>
		<key>imageName</key>
		<string>BaterieNoWords</string>
		<key>color</key>
		<string>#8e1412</string>
		<key>tileImageName</key>
		<string>Baterie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elektrośmieci</string>
		<key>description</key>
		<string>-</string>
		<key>imageName</key>
		<string>ElektrośmieciNoWords</string>
		<key>color</key>
		<string>#8e1412</string>
		<key>tileImageName</key>
		<string>Elektrośmieci</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Leki</string>
		<key>description</key>
		<string>-</string>
		<key>imageName</key>
		<string>LekiNoWords</string>
		<key>color</key>
		<string>#9a5f30</string>
		<key>tileImageName</key>
		<string>Leki</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pozostałe odpady</string>
		<key>description</key>
		<string>-</string>
		<key>imageName</key>
		<string>PozostałeNoWords</string>
		<key>color</key>
		<string>#19b370</string>
		<key>tileImageName</key>
		<string>Pozostałe</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Inne</string>
		<key>description</key>
		<string>Zużyty sprzęt elektryczny oraz elektroniczny zanieść do punktu zbiórki zużytego sprzędu elektrycznego i elektronicznego. Zużyte baterie i akumulatory zanieść do punktu zbiórki baterii i akumulatorów. Przeterminowane leki wraz z opakowaniami oraz termometry rtęciowe oddajemy do wyznaczonych aptek.</string>
		<key>imageName</key>
		<string>InneNoWords</string>
		<key>color</key>
		<string>#8e1412</string>
		<key>tileImageName</key>
		<string>Inne</string>
	</dict>
</array>
</plist>
